---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    service: bootstrap
  name: bootstrap
  namespace: {{ namespace | string }}
spec:
  clusterIP: None
  ports:
  - name: headless
    port: 55555
    targetPort: 0
  selector:
    service: bootstrap
