apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    service: kamailio
  name: kamailio
  namespace: {{ namespace | string }}
spec:
  ports:
  - name: "9060"
    port: 9060
    protocol: UDP
    targetPort: 9060
  selector:
    service: kamailio
status:
  loadBalancer: {}
