apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    service: webapp
  name: webapp
  namespace: {{ namespace | string }}
spec:
  ports:
  - name: "8080"
    port: 8080
    targetPort: 80
  selector:
    service: webapp
status:
  loadBalancer: {}
