---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  name: {{ app_name }}
  namespace: {{ namespace | string }}
  labels:
    app: {{ app_name }}
    service: {{ app_name }}
    service_class_id: '{{ _apb_service_class_id }}'
    plan_id: '{{ _apb_plan_id }}'
    service_instance_id: '{{ _apb_service_instance_id }}'
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      name: {{ app_name }}
      labels:
        app: {{ app_name }}
        service: {{ app_name }}
        service_class_id: '{{ _apb_service_class_id }}'
        plan_id: '{{ _apb_plan_id }}'
        service_instance_id: '{{ _apb_service_instance_id }}'
    spec:
      containers:
        - name: asterisk
          image: dougbtv/asterisk14
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /etc/asterisk/
              name: config
            - mountPath: /var/run/asterisk
              name: var-run-asterisk
          envFrom:
          - configMapRef:
             name: env-config-{{ uniqname }}
          command:
            - "/bin/bash"
            - "-c"
            - "cat /etc/asterisk/entrypoint.sh | /bin/bash"
        - name: captagent
          image: dougbtv/homer-captagent
          imagePullPolicy: IfNotPresent
          args:
            - "--capturehost"
            - "kamailio"
      # nodeSelector:
      #   voiptype: tandem
      volumes:
        - name: var-run-asterisk
          emptyDir: {}
        - name: config
          configMap:
            name: asterisk-vanilla-config-{{ uniqname }}
            items:
              - key: http.conf
                path: http.conf
              - key: ari.conf
                path: ari.conf
              - key: rtp.conf
                path: rtp.conf
              - key: extensions.conf
                path: extensions.conf
              - key: pjsip.conf
                path: pjsip.conf
              - key: cdr.conf
                path: cdr.conf
              - key: modules.conf
                path: modules.conf
              - key: asterisk.conf
                path: asterisk.conf
              - key: hep.conf
                path: hep.conf
              - key: entrypoint.sh
                path: entrypoint.sh
              # - ./docker/asterisk_entrypoint.sh:/entrypoint.sh
              # - ./docker/sounds:/var/lib/asterisk/sounds/en/
