---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: {{ app_name }}
    service_class_id: '{{ _apb_service_class_id }}'
    plan_id: '{{ _apb_plan_id }}'
    service_instance_id: '{{ _apb_service_instance_id }}'
    service: controller-{{ uniqname }}
  name: controller-{{ uniqname }}
  namespace: {{ namespace | string }}
spec:
  # clusterIP: None
  ports:
  - name: "8001"
    port: 8001
    protocol: TCP
    targetPort: 8001
  selector:
    app: controller-{{ uniqname }}
status:
  loadBalancer: {}
