---
apiVersion: v1
kind: Service
metadata:
  name: etcd-client-{{ uniqname }}
  namespace: {{ namespace | string }}
spec:
  ports:
  - name: etcd-client-port
    port: 2379
    protocol: TCP
    targetPort: 2379
  selector:
    app_selector: etcd
